errors: {{apiError | json}}
booking: {{booking | json}}
<div class="container-fluid">
    <div class="row">
        <div class="hero" style="border: 1px solid">
            <img src="https://a0.muscache.com/im/pictures/7c2cfc30-cc36-4634-ab9f-9808472552b8.jpg?aki_policy=xx_large" style="height: 30vh">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12">
            <h5 class="card-title">{{house.name | uppercase}}</h5>
            <p class="card-text">{{house.description}}</p>
            <p>{{house.start | date}} - {{house.end | date}}</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <form (ngSubmit)="onSubmitBooking(formBooking)" #formBooking="ngForm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="From" name="start" [(ngModel)]="booking.start" #start="ngModel" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="To" name="end" [(ngModel)]="booking.end" #start="ngModel" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" required>
                </div>                    
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!formBooking.valid">Book it!</button>
                </div>
            </form>
        </div>
    </div> 
</div>
