
  <div class="card mb-3"  [routerLink]="['/houses', house.id]" style="cursor: pointer;">
    <div *ngFor="let photo of house.photos">
        <img class="card-img-top" [src]="photo" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{house.name | uppercase}}</h5>
      <p class="card-text">{{house.description}}</p>
      <p>{{house.start | date}} - {{house.end | date}}</p>
      <p>people: {{house.people}}</p>
      <h3> {{house.price}} euros</h3>
      <small>{{house.id}}</small>
    </div>
  </div>
  
  
  