 <carousel>
    <slide *ngFor="let photo of house.photos">
        <div class="text-center py-5 bg-dark text-white">
            <div class="lead">
                <img [src]="photo" class="image">
            </div>
        </div>
    </slide>
</carousel>

<div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12">
        <small class="card-title houseTitle">{{house.owner?.email | uppercase}}</small>
        <p class="card-text">{{house.description}}</p>
        <p>{{house.start | date}} - {{house.end | date}}</p>
    </div>
    <div *ngIf="house.owner?.id !== session.user?.id" class="col-lg-4 col-md-6 col-sm-12">
        <form (ngSubmit)="onSubmitBooking(formBooking)" #formBooking="ngForm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="From" name="start" [(ngModel)]="booking.start" #start="ngModel" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="To" name="end" [(ngModel)]="booking.end" #start="ngModel" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" required>
            </div>                    
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!formBooking.valid">Book it!</button>
            </div>
        </form>
    </div>
</div> 

<div *ngIf="house.location">
    <agm-map [zoom]="15" [latitude]="house.location[0]" [longitude]="house.location[1]">
        <agm-marker [latitude]="house.location[0]" [longitude]="house.location[1]"></agm-marker>
    </agm-map>
</div> 

errors: {{apiError | json}}
booking: {{booking | json}}

