
.container{
    padding: 20px;
}
.bold{
    font-weight: 900;
}

agm-map {
    height: 300px;
}

.button{
    margin: 7px;
    width: 200px;
}

.detailsButton{
    margin: 5px auto;
    display: block;
}

.circleImage{
    border-radius: 100%; 
    height: 50px;
    margin-right: 5px;
}

.inline{
    display: inline;
}

.margin{
    margin-left: 25px;
    margin-right: 25px;
}

.margin-bottom{
    margin-bottom: 10px;
}

.extra-margin{
    margin: 10px;
}

.center{
    display: block;
    margin: 10px auto 10px auto;
    width: 90%;
    margin-top: 10px; 
}

.bold{
    font-weight: 800;
}

.fa-ticket{
    margin-right: 10px;
    font-size: 20px;
}

.fa-trash{
    font-size: 40px; 
    position: absolute;
    color: white;
    margin: 20px;
    left: 0;
}

.relative{
    position: relative;
    left: 0;
}

.houseImage{
    border-radius: 10px;
}

.relative::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    border-radius: 10px; 
}

.margin-bottom{
    margin-bottom: 20px;
}