<div class="container-fluid">
  <div class="row content">
    <div class="col-lg-3">
      <img class="card-img-top" [src]="housePerUser.photos[0]" alt="Card image cap" [routerLink]="['/houses', housePerUser.id]" style="cursor: pointer;">
      
    </div>
    <div class="col-lg-3">
      <h5 class="card-title">{{housePerUser.address}}</h5>
      <p class="card-text bold">{{housePerUser.price}}€ per night</p>
      <p class="card-text">{{housePerUser.start | date}} - {{housePerUser.end | date}}</p>
      
      
      <!-- //IF TENANTS -->
      <div *ngIf="housePerUser.bookings.length > 0; else other_content">
        <ul *ngFor="let tenant of housePerUser.bookings">
          <li>{{tenant.user.email}} -  {{tenant.createdAt | date: 'medium'}} <a href="">Contact this tenant</a><a style="color: red;">x</a></li>

        </ul>
      </div>

      <!-- //IF TENANTS -->
      <!-- ELSE -->
      <ng-template #other_content><p>NO TENANTS YET</p></ng-template>
      <!-- ELSE -->
      
      <button type="button" class="button btn btn-danger">Remove ad</button>
    </div>
    
  </div>
  <div class="col-lg-6">
    
    <agm-map [zoom]="15" [latitude]="housePerUser.location.coordinates[0]" [longitude]="housePerUser.location.coordinates[1]">
      <agm-marker [latitude]="housePerUser.location.coordinates[0]" [longitude]="housePerUser.location.coordinates[1]"></agm-marker>
    </agm-map>
    
  </div>
</div>
